.container {
    width: 100%;
    height: 100%;
    padding: 20px;

    .tableRow {

        &:not(:last-child) {
            border-bottom: 2px solid #BABFC5;


        }
    }


    .appbar {
        background-color: white !important;
        color: black;

        &:last-child {
            padding: 8px;
        }

        &:not(:last-child) {
            border-bottom: 2px solid #808388;

        }


        .logo {

            flex-grow: 1;
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
        }

        .tabs {
            margin: 0 100px;

            .tab {
                padding: 15px 10px;
                margin: 15px 10px;

            }

        }

        .avatar2 {
            width: 156px;
            height: 40px;
            padding: 10px;


            img {
                border-radius: 5px;

            }
        }
    }


}

@media only screen and (max-width: 650px) {

    .container {
        width: 300px;
        max-width: 100%;
        padding: 0 !important;


    }


}